$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';
$font-title : 'EB Garamond', serif;
$font-paragraph : 'Montserrat', sans-serif;;


$color-primary : #0E5830;
$color-green : #19623b;
$color-darkgreen:#014520;
$color-gold : #DDB14E;
$color-blue: #223564;
$color-black-2: #515151;
$color-secondary : #DBDBDB;
$color-black : #000;
$color-grayish : #ececec;
$color-white : #fff;
$color-facebook : #3b5998;
$color-twitter : #00acee;
$color-whatsapp: #25D366;
$color-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$max: 80;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}