.bar--absolute {
	@include media($sm...) {
		position: absolute;
		z-index:2;
		width: 100%;
	}
	@include media($xs) {
		position: absolute;
		z-index:2;
		width: 100%;
	}
}
#top-menu {
	border-bottom: 1px solid $color-white;
	padding: 0;
	* {
		color: $color-white;
	}
	.bar__module {
		@include media($xs){
			margin-bottom: 0;
		}
	}
	.menu-horizontal {
		&.left {
			li {

				&:not(:last-child) {
					border-right:1px solid $color-white;
					min-width: 19em;
					@include media($xs){
						min-width: 10em;
					}
				}
			}
		}
		li {
			padding:0.92857143em 0;
			&:not(:hover) a {
				opacity: 1;
			}
			&:hover a,
			&:hover a i,
			&:hover a span {
				color: $color-white;
			}
			
			a {
				
				font-size: 11px;
				font-family: $font-paragraph;
			}
		}
	}

}
.menu-horizontal > li, .menu-vertical > li {
	font-family: $font-title;

	text-transform: capitalize;
}

.bar-1 {
	.menu-horizontal {
		> li > a {
			text-transform: uppercase;
			font-size: 14px;
			color: $color-blue;
			opacity: 1;
			font-family: $font-paragraph;
			font-weight:600;
			&:hover {
				color: $color-primary;
			}
		}
		li {
			&:not(:last-child){
				margin-right: 2em;
			}
		}

	}

}

.bar {
	
	.container {
	    max-width: 1240px;
	}
	

	@include media($xs){
		padding: 0.5em 0;
	}
	.menu-horizontal {
		top:0;

	}
	.logo {
		max-height: 6.85714286em;
		top: 0;
		@include media($sm...){
			max-height: 5.5em;
		}
		@include media($xs){
			max-height: 5.5em;
		}
	}
	.menu-toggle {
		box-shadow: none;
	}
	&.pos-fixed {
		.menu-horizontal > li > a{
			color: $color-black !important;
		}
		padding: 1em;
	}
}
.v-align-middle {
	vertical-align: middle;
}
.notification.side-menu {
	background: $color-primary;
	width: 100%;
	.menu-vertical li{
		&:not(:hover):not(.dropdown--active) {
			opacity: 1;
		}
		&:not(:last-child){
			margin-bottom:0.8em;
		}
		a{ 
			color: $color-white !important;
			opacity: 1;
		}
		opacity: 1;
	}
	
	.logo {
		max-height: 6em;
		opacity: 1;
	}
}
