@import 'app';
@import 'menu';

body, p {
	font-family: $font-paragraph;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font-title;
}

section.pad-top {
	padding-top: 7.42857143em !important;

}
#home-banner, footer {
	.container {
	   @include media($lg...){
	   	 max-width: 1240px;
	   }
	}
}

.inner-cover {
	@include media($xs){
		height:50vh;
		z-index: 0;
	}
	.pos-vertical-center {
		@include media($xs) {
			top:40%;
			
		}
		
	}

}
footer {

	.footer-title {
		color: $color-primary;
		font-weight: 600;
		@include media($xs) {
			font-size: 2em;
			margin-bottom: 0.5em;
		}
	}
	li {
		a{
			color: $color-black !important;
			font-weight: 500 !important;
		}
		&:not(:hover) {
			opacity: 1 !important;
		}
	}
	.type--fine-print{
		color: $color-black;
		opacity: 1 !important;
	}
	.social-list li a{
		color: #6d6d6d !important;
	}
	
	.border-top {
		border-top: 1px solid #efefef;

	}
	.font--12 {
		@include media($md...){
			font-size:11px;
		}
	}

	.logo--xs {
		max-width: 100%;
		@include media($xs){
			max-width: 60%;
		}
	}
}

// HEADER
.overlay-green{
	&::before {
		position: absolute;
	    content: '';
	    background: #002f02;
	    background-blend-mode: multiply;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	   
	}
   
}


// TITLES
.header-title {
	font-size: 50px;
	font-weight: 600;
	z-index:1;
	@include media($xs) {
		font-size: 30px;
	}
}
.text-top {
	font-weight: 500;
	margin-bottom: 0;
	@include media($xs){
		font-size: 1.15714286em;
	}
}


// SPACES
.unmarg--top {
	margin-top: 0 !important;
}
.unmarg--bottom {
	margin-bottom: 0 !important;
}
.unmarg--left {
	margin-left: 0 !important;
}

.v-align-middle {
	vertical-align: middle;
}
.ml-xs-0 {
	
	@include media($xs) {
		margin-left: 0 !important;
	}
}

// COLORS 
.color--primary {
	color: $color-primary !important;
}
.bg-primary {
	background: $color-primary !important;

}

.color-gold {
	color: $color-gold !important;
}
.bg-blue {
	background: $color-blue;
	*{
		color: $color-white;
	}
}
.bg-dark-secondary {
	background: $color-secondary !important;
}
.color-gray {
	color: $color-black-2;
}
.bg-darkgreen {
	background: $color-darkgreen;
}



// BUTTONS
.btn {
	border-radius: 1px;
	@include media($xs){
		margin-bottom:1em !important;
	}	
	
	&--primary {
		background: #6CBF53 !important;
		border-color: #6CBF53 !important;
	}
	&-dark-primary {
		background: $color-darkgreen;
		border-color: $color-darkgreen;
		color: $color-white !important;
	}
	&--gold {
		background: $color-gold;
		border-color: $color-gold !important;
		* {
			color: $color-white;
		}
	}

}
.styled-hyperlink {
	padding: 0 0.2em;
    background-image: linear-gradient(120deg, $color-green 0%, $color-green 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0;
    border-bottom: 1px solid $color-green;
    color: $color-green;
    text-decoration: none;
    transition: background-size .125s ease-in;
    &:hover {
    	background-size: 100% 100%;
    	color: #fff;
    }
}
// END

.imagebg {
	.btn--border {
		border: 2px solid $color-white !important;
		opacity: 1 !important;
		.btn__text {
			font-family: $font-paragraph;
		}
		
	}
}

.feature,.feature-1,.boxed {
	border-radius:0;
}
.feature-7 {
	&:before {
		border-radius: 0;
	}
	.background-image-holder {
		border-radius:0;
	}
}

.feature-1 > img:first-child {
	border-radius:0 !important;
}

.feature img + .boxed {
	border-radius: 0;
}

.modal-container {
	&.w-80{
		.modal-content {
			width: 80%;
		}
		.modal-close-cross{
			background: $color-gold;
		    width: 40px;
		    padding: 5px;
		    height: 40px;
		    opacity: 0.9;
		    display: flex;
		    justify-content: center;
		    align-items:center;
		    &:before {
		    	font-size: 30px;
		    	color: $color-white;
		    }
		}
	}

}

.featured-blog {
	padding-bottom: 4em;
	.label {
		background: $color-gold;
		color: $color-black !important;
		position:relative;
		top:0;
		right: 0;
		margin-bottom: 1.4em;
	}
	.boxed {
		border: 1px solid #ececec;
		&:hover {
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}
	}
}
.other-blog {
	.feature {
		margin-bottom: 0;
	}
}

// FONTS
.font800 {
	font-weight: 800;
}
a{
	&.color--primary {
		&:hover {
			color: $color-blue !important;
		}
	}
	&:hover {
		text-decoration:none;
	}
}


.sub-pagination {
	font-weight: 400;
}

.projects {
	
	p {
		line-height: 2.5;
	}
	.text-top{
		font-family: $font-paragraph;
		color: $color-gold !important;
		
	}
	.feature-7 {
		 min-height: 350px;

		
		.project-thumb-title {
			height: 100%;
			display: flex;
			align-items: center;
		}
		&:hover:before {
			background: $color-darkgreen;
			opacity: 0.8;
		}
		@include media($xs){
			margin-bottom: 0;
		}
	}
	.bg--white a:not(.btn) {
		color: $color-gold;
	}
	.row--gapless {
		margin-right: 0;
		> div[class*='col-'] {
			padding:0;
		}
	}

}

.publications {

	.label {
		border-radius:0;
		background: $color-gold;
		color: $color-black;
		position: relative;
		top: initial;
		right: initial;
		font-size: 12px;
	}
	ol {
		list-style-position: outside;
		margin-left: 1.5em;
	}
}


.fancy {
	span {
		display: inline-block;
		position: relative;  
		&:before {
			content: "";
			position: absolute;
			height: 5px;
			border-top: 1.6px solid $color-gold;
			top: 50%;
			width: 60px;
			right: 100%;
  			margin-right: 15px;
  			margin-left: 15px;
		}
	}

}

.vl {
	position: relative;
    border-left: 1px solid $color-darkgreen;
    height: 50px;
    display: flex;
    justify-content: center;
    margin:30px 0;
    left: 50%;
}

.border-left-gold {
	border-left: 3px solid $color-gold;
}

.blockbox {
	background: $color-grayish;
	padding: 2.3em 2em;
}

.expert {
	.feature-1 {
		img, .boxed {
			border-radius:0;
		}
		.feature__body {
			border:none;
			background: $color-darkgreen;
			* {
				color: $color-white;
			}
			
		}
		&:hover .feature__body{
			background: $color-gold;
			* {
				color: $color-darkgreen;
			}
			.fancy span:before {
				border-color: $color-darkgreen;
			}
		}
	}
	
}


.box-expert {
	.fancy {
		margin-left: 30px;
		span:before {
			width: 30px;
		}
	}
	.name {
		font-size: 2.1em;
		@include media($md...) {
			font-size: 1.7em;
		}
		@include media($xs) {
			font-size: 1.7em;
		}
		@include media($sm...) {
			font-size: 1.7em;
		}
		@include media($xs) {
			font-size: 1.7em;
		}
	}
	p {
		font-weight: 400;
	}
	
}


.accordion-1 {
	li {
		&:first-child {
			@include media($xs){
				margin-top: 40px;
			}
		}
		.accordion__title {

			&:before {
				content: 'arrow_downward';
				font-family: 'Material Icons';
				vertical-align: middle;
				color: $color-gold;
				font-size: 1em;
			}
			.h5 {
				font-family: $font-title;
				font-size: 1.3em;
			}
			border-radius: 0;
			background: #f9f9f9;
			color: $color-black;
			opacity: 1;
		}
		.accordion__content {
			background: #F9F9F9;
			border-radius: 0;
			border: 1px solid $color-grayish;
			border-top: 0;
			box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
			.content-row {
				display: flex;
				flex-wrap: wrap;
			    overflow: hidden;
			    align-items: center;
			    > div {
			    	flex:1;
			    	@include media($xs){
			    		flex: 100%;
			    		margin-bottom: 10px;
			    	}
			    }
			}
		}
		&.active {
			.accordion__title {
				&:before {
					content: 'arrow_upward';
					font-family: 'Material Icons';
					vertical-align: middle;
					color: $color-gold;
					font-size: 1em;
				}
				background: $color-darkgreen;
				margin-bottom: 0;
			}
			.accordion__content {
				padding:30px;
			}
		}
	}
}
.contact {
	input {
		border:none;
		background:transparent;
		border-bottom: 1px solid $color-black;
		border-radius: 0;
	}
}

input {
	border-radius: 0 !important;
}

.newsletter-container {
	.pos-absolute {
		bottom:0;
		@include media($xs) {
			position:relative;

		}
	}
	&.with-side-line {
		.title::before {
			left: 6%;
			width: 1em;
			@include media($xs){
				left: 0;
			}
		}
	}
	.newsletter-box {
		padding: 2em 10em 4em;
		width: 100%;
		input,
		button {
			height:50px;
		}
		button {
			background: $color-gold;
			border-color: $color-gold;
			border-radius: 0;
		}
		@include media ($xs){
			padding: 4em 3em;
		}
		form {
			@include media ($xs){
				width: 100%;
				margin: auto;
			}
		}

	}
}

.upcoming-events {
	.calendar-row {
		display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		display: flex;
	    flex-wrap: wrap;
	    .dates {
	    	flex: 0 0 15%;
    		max-width: 15%;
    		flex:1;
    		margin-right: 10px;
    		@include media($xs) {
    			flex: 0 0 100%;
    			max-width: 100%; 
    		}
	    	.boxed {
	    		text-align: center;
	    		margin-bottom: 0;
	    		padding: 10px 10px;
	    		border-radius:0;
	    		border: 2px solid $color-black;
	    	}
	    	
	    	h3 {
	    		font-weight:600;
	    	}
	    	.number{
	    		font-family: $font-title;
	    		
	    		color: $color-primary;
	    		font-weight:500;
	    		display: block;
	    		clear: both;
	    		@include media($xs) {
	    			display: inline-block;
	    		}
	    	}
	    }
	    .event-title {
        	flex-grow: 1;
        	flex:1;
        	padding: 25px 30px;
        	background: $color-gold;
        	p {
        		color: $color-black !important;
        		font-weight: 600;
        		font-size: 1em;
        	}
        	@include media($xs) {
    			flex: 0 0 100%;
    			max-width: 100%; 
    		}
	    }

	}
}


@import 'animate';
@import 'flaticon';