@import 'app';

#home-banner {
	li {
		height: 100vh;
	}
	
	.header-title {
		@include media($sm...) {
			font-size: 30px;
		}
		@include media($xs) {
			font-size: 25px;
		}
		
	}
	.text-top {
		@include media($xs) {
			font-size: 1em; 
		}
	}
	.btn--lg {
		@include media($xs){
			padding-top: 0.46428571em;
			padding-bottom: 0.46428571em;
			padding-right: 2.78571429em;
			padding-left: 2.78571429em;
			font-size: 0.9em;
    		
		}
	}
	.pos-vertical-center {
		top: 55%;
		@include media($xs){
			top: 25%;
		}
		&.side-image {
			@include media($xs){
				top: 10%;	
			}
			img {
				@include media($xs){
					width: 80%;
				}
			}
		}
	}
}

.banner-boxes {
	*{
		color: $color-white;
	}
	i {
		color: $color-gold;
		&.first {
			font-size: 3.54285714em;
		}
	}
	background: $color-darkgreen;
	a .feature-2{
		&:hover {
			background:$color-gold;
			* {
				color: $color-darkgreen;
			}
		}
	}
	.row--gapless {
		margin-right: 0;
		> div[class*='col-'] {
			padding:0;
		}
	}
	.feature-2 {
		cursor: pointer;
		background:transparent;
		display: flex;
		align-items:center;
		align-self:center;
		border-top: 1px solid $color-white;
		border-right: 1px solid $color-white;
		padding-left: 8em;
		padding-right: 4em;
	
		border-radius:0;
		&.last{
			border-right: none;
		}
		p {
			font-size: 0.8em;
		}
		i {
			@include media($xs) {
				width: 30%;
			}
		}
		@include media($sm...) {
			margin-bottom: 0;
		}
		@include media($xs) {
			margin-bottom: 0;
		}


		// img {
			
		// 	width: 15%;
		// 	height: 100%;
  //   		margin-right:2em;
  //   		margin-bottom: 0;
  //   		color: $color-gold;
  //   		@include media($xs) {
  //   			width: 15%;
  //   			margin-right: 2em;
  //   		}
  //   		&.first-image {
  //   			width: 18%;
  //   		}
		// }
		// .feature__body {
		// 	width: 75%;
			
		// 	p:first-of-type {
		// 		@include media($sm...) {
		// 			margin-top: 0;
		// 		}
		// 	}
		// }
		.box-title {
			font-size: 2.5em;
			@include media($sm...){
				font-size: 1.9em;
			}
			@include media($xs){
				font-size: 2.6em;
			}
		}
		@include media($md...){
			padding: 3em 0em 3em 2em;

		}
		@include media($sm...) {
			padding: 3em 1em 3em 3em;
		}
		@include media($xs){
			border-right:none;
			padding: 2em 1em 2em 3em;
		}

	}
	&:first-child .feature-2{
		@include media($xs){
			border-top: 1px solid $color-white;
		}
	}
	@include media($xs){
		background: $color-darkgreen;
		margin-top: 0 !important;
	}
}


.meet-experts {
	.title {
		&::before {
			left: -30%;
		}
	}
	.pos-absolute {
		@include media($xs) {
			position:relative;
		}
		.row-ml-2 {
			@include media($xs) {
				margin-left: -15px;
			}
		}
	}

}


.w-100 {
	width: 100%;
}

.featured-blogs {
	padding-top: 7.42857143em !important;
	.feature-1 {
		img {
			border-radius: 0;
		}
		.feature__body {
			border-radius: 0;
		}
	}
}

hr.short {
	border-color: $color-gold;
	margin-bottom: 0;
}