@media (max-width: 767px) {
  .about-us {
    height: auto;
    z-index: 0;
    padding-top: 8em; } }

@media (max-width: 767px) {
  .pb-xs-0 {
    padding-bottom: 0 !important; } }

@media (max-width: 767px) {
  .height-70 {
    height: 30vh !important; } }

.fancy span:before {
  display: none; }
