@media (min-width: 768px) and (max-width: 991px) {
  .bar--absolute {
    position: absolute;
    z-index: 2;
    width: 100%; } }

@media (max-width: 767px) {
  .bar--absolute {
    position: absolute;
    z-index: 2;
    width: 100%; } }

#top-menu {
  border-bottom: 1px solid #fff;
  padding: 0; }
  #top-menu * {
    color: #fff; }
  @media (max-width: 767px) {
    #top-menu .bar__module {
      margin-bottom: 0; } }
  #top-menu .menu-horizontal.left li:not(:last-child) {
    border-right: 1px solid #fff;
    min-width: 19em; }
    @media (max-width: 767px) {
      #top-menu .menu-horizontal.left li:not(:last-child) {
        min-width: 10em; } }
  #top-menu .menu-horizontal li {
    padding: 0.92857143em 0; }
    #top-menu .menu-horizontal li:not(:hover) a {
      opacity: 1; }
    #top-menu .menu-horizontal li:hover a,
    #top-menu .menu-horizontal li:hover a i,
    #top-menu .menu-horizontal li:hover a span {
      color: #fff; }
    #top-menu .menu-horizontal li a {
      font-size: 11px;
      font-family: "Montserrat", sans-serif; }

.menu-horizontal > li, .menu-vertical > li {
  font-family: "EB Garamond", serif;
  text-transform: capitalize; }

.bar-1 .menu-horizontal > li > a {
  text-transform: uppercase;
  font-size: 14px;
  color: #223564;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }
  .bar-1 .menu-horizontal > li > a:hover {
    color: #0E5830; }

.bar-1 .menu-horizontal li:not(:last-child) {
  margin-right: 2em; }

.bar .container {
  max-width: 1240px; }

@media (max-width: 767px) {
  .bar {
    padding: 0.5em 0; } }

.bar .menu-horizontal {
  top: 0; }

.bar .logo {
  max-height: 6.85714286em;
  top: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .bar .logo {
    max-height: 5.5em; } }
  @media (max-width: 767px) {
    .bar .logo {
      max-height: 5.5em; } }

.bar .menu-toggle {
  box-shadow: none; }

.bar.pos-fixed {
  padding: 1em; }
  .bar.pos-fixed .menu-horizontal > li > a {
    color: #000 !important; }

.v-align-middle {
  vertical-align: middle; }

.notification.side-menu {
  background: #0E5830;
  width: 100%; }
  .notification.side-menu .menu-vertical li {
    opacity: 1; }
    .notification.side-menu .menu-vertical li:not(:hover):not(.dropdown--active) {
      opacity: 1; }
    .notification.side-menu .menu-vertical li:not(:last-child) {
      margin-bottom: 0.8em; }
    .notification.side-menu .menu-vertical li a {
      color: #fff !important;
      opacity: 1; }
  .notification.side-menu .logo {
    max-height: 6em;
    opacity: 1; }

body, p {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif; }

section.pad-top {
  padding-top: 7.42857143em !important; }

@media (min-width: 1200px) {
  #home-banner .container, footer .container {
    max-width: 1240px; } }

@media (max-width: 767px) {
  .inner-cover {
    height: 50vh;
    z-index: 0; } }

@media (max-width: 767px) {
  .inner-cover .pos-vertical-center {
    top: 40%; } }

footer .footer-title {
  color: #0E5830;
  font-weight: 600; }
  @media (max-width: 767px) {
    footer .footer-title {
      font-size: 2em;
      margin-bottom: 0.5em; } }

footer li a {
  color: #000 !important;
  font-weight: 500 !important; }

footer li:not(:hover) {
  opacity: 1 !important; }

footer .type--fine-print {
  color: #000;
  opacity: 1 !important; }

footer .social-list li a {
  color: #6d6d6d !important; }

footer .border-top {
  border-top: 1px solid #efefef; }

@media (min-width: 992px) and (max-width: 1199px) {
  footer .font--12 {
    font-size: 11px; } }

footer .logo--xs {
  max-width: 100%; }
  @media (max-width: 767px) {
    footer .logo--xs {
      max-width: 60%; } }

.overlay-green::before {
  position: absolute;
  content: '';
  background: #002f02;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.header-title {
  font-size: 50px;
  font-weight: 600;
  z-index: 1; }
  @media (max-width: 767px) {
    .header-title {
      font-size: 30px; } }

.text-top {
  font-weight: 500;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .text-top {
      font-size: 1.15714286em; } }

.unmarg--top {
  margin-top: 0 !important; }

.unmarg--bottom {
  margin-bottom: 0 !important; }

.unmarg--left {
  margin-left: 0 !important; }

.v-align-middle {
  vertical-align: middle; }

@media (max-width: 767px) {
  .ml-xs-0 {
    margin-left: 0 !important; } }

.color--primary {
  color: #0E5830 !important; }

.bg-primary {
  background: #0E5830 !important; }

.color-gold {
  color: #DDB14E !important; }

.bg-blue {
  background: #223564; }
  .bg-blue * {
    color: #fff; }

.bg-dark-secondary {
  background: #DBDBDB !important; }

.color-gray {
  color: #515151; }

.bg-darkgreen {
  background: #014520; }

.btn {
  border-radius: 1px; }
  @media (max-width: 767px) {
    .btn {
      margin-bottom: 1em !important; } }
  .btn--primary {
    background: #6CBF53 !important;
    border-color: #6CBF53 !important; }
  .btn-dark-primary {
    background: #014520;
    border-color: #014520;
    color: #fff !important; }
  .btn--gold {
    background: #DDB14E;
    border-color: #DDB14E !important; }
    .btn--gold * {
      color: #fff; }

.styled-hyperlink {
  padding: 0 0.2em;
  background-image: linear-gradient(120deg, #19623b 0%, #19623b 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 1px solid #19623b;
  color: #19623b;
  text-decoration: none;
  transition: background-size .125s ease-in; }
  .styled-hyperlink:hover {
    background-size: 100% 100%;
    color: #fff; }

.imagebg .btn--border {
  border: 2px solid #fff !important;
  opacity: 1 !important; }
  .imagebg .btn--border .btn__text {
    font-family: "Montserrat", sans-serif; }

.feature, .feature-1, .boxed {
  border-radius: 0; }

.feature-7:before {
  border-radius: 0; }

.feature-7 .background-image-holder {
  border-radius: 0; }

.feature-1 > img:first-child {
  border-radius: 0 !important; }

.feature img + .boxed {
  border-radius: 0; }

.modal-container.w-80 .modal-content {
  width: 80%; }

.modal-container.w-80 .modal-close-cross {
  background: #DDB14E;
  width: 40px;
  padding: 5px;
  height: 40px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-container.w-80 .modal-close-cross:before {
    font-size: 30px;
    color: #fff; }

.featured-blog {
  padding-bottom: 4em; }
  .featured-blog .label {
    background: #DDB14E;
    color: #000 !important;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 1.4em; }
  .featured-blog .boxed {
    border: 1px solid #ececec; }
    .featured-blog .boxed:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.other-blog .feature {
  margin-bottom: 0; }

.font800 {
  font-weight: 800; }

a.color--primary:hover {
  color: #223564 !important; }

a:hover {
  text-decoration: none; }

.sub-pagination {
  font-weight: 400; }

.projects p {
  line-height: 2.5; }

.projects .text-top {
  font-family: "Montserrat", sans-serif;
  color: #DDB14E !important; }

.projects .feature-7 {
  min-height: 350px; }
  .projects .feature-7 .project-thumb-title {
    height: 100%;
    display: flex;
    align-items: center; }
  .projects .feature-7:hover:before {
    background: #014520;
    opacity: 0.8; }
  @media (max-width: 767px) {
    .projects .feature-7 {
      margin-bottom: 0; } }

.projects .bg--white a:not(.btn) {
  color: #DDB14E; }

.projects .row--gapless {
  margin-right: 0; }
  .projects .row--gapless > div[class*='col-'] {
    padding: 0; }

.publications .label {
  border-radius: 0;
  background: #DDB14E;
  color: #000;
  position: relative;
  top: initial;
  right: initial;
  font-size: 12px; }

.publications ol {
  list-style-position: outside;
  margin-left: 1.5em; }

.fancy span {
  display: inline-block;
  position: relative; }
  .fancy span:before {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1.6px solid #DDB14E;
    top: 50%;
    width: 60px;
    right: 100%;
    margin-right: 15px;
    margin-left: 15px; }

.vl {
  position: relative;
  border-left: 1px solid #014520;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  left: 50%; }

.border-left-gold {
  border-left: 3px solid #DDB14E; }

.blockbox {
  background: #ececec;
  padding: 2.3em 2em; }

.expert .feature-1 img, .expert .feature-1 .boxed {
  border-radius: 0; }

.expert .feature-1 .feature__body {
  border: none;
  background: #014520; }
  .expert .feature-1 .feature__body * {
    color: #fff; }

.expert .feature-1:hover .feature__body {
  background: #DDB14E; }
  .expert .feature-1:hover .feature__body * {
    color: #014520; }
  .expert .feature-1:hover .feature__body .fancy span:before {
    border-color: #014520; }

.box-expert .fancy {
  margin-left: 30px; }
  .box-expert .fancy span:before {
    width: 30px; }

.box-expert .name {
  font-size: 2.1em; }

@media (min-width: 992px) and (max-width: 1199px) {
  .box-expert .name {
    font-size: 1.7em; } }
  @media (max-width: 767px) {
    .box-expert .name {
      font-size: 1.7em; } }

@media (min-width: 768px) and (max-width: 991px) {
  .box-expert .name {
    font-size: 1.7em; } }
  @media (max-width: 767px) {
    .box-expert .name {
      font-size: 1.7em; } }

.box-expert p {
  font-weight: 400; }

@media (max-width: 767px) {
  .accordion-1 li:first-child {
    margin-top: 40px; } }

.accordion-1 li .accordion__title {
  border-radius: 0;
  background: #f9f9f9;
  color: #000;
  opacity: 1; }
  .accordion-1 li .accordion__title:before {
    content: 'arrow_downward';
    font-family: 'Material Icons';
    vertical-align: middle;
    color: #DDB14E;
    font-size: 1em; }
  .accordion-1 li .accordion__title .h5 {
    font-family: "EB Garamond", serif;
    font-size: 1.3em; }

.accordion-1 li .accordion__content {
  background: #F9F9F9;
  border-radius: 0;
  border: 1px solid #ececec;
  border-top: 0;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); }
  .accordion-1 li .accordion__content .content-row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center; }
    .accordion-1 li .accordion__content .content-row > div {
      flex: 1; }
      @media (max-width: 767px) {
        .accordion-1 li .accordion__content .content-row > div {
          flex: 100%;
          margin-bottom: 10px; } }

.accordion-1 li.active .accordion__title {
  background: #014520;
  margin-bottom: 0; }
  .accordion-1 li.active .accordion__title:before {
    content: 'arrow_upward';
    font-family: 'Material Icons';
    vertical-align: middle;
    color: #DDB14E;
    font-size: 1em; }

.accordion-1 li.active .accordion__content {
  padding: 30px; }

.contact input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0; }

input {
  border-radius: 0 !important; }

.newsletter-container .pos-absolute {
  bottom: 0; }
  @media (max-width: 767px) {
    .newsletter-container .pos-absolute {
      position: relative; } }

.newsletter-container.with-side-line .title::before {
  left: 6%;
  width: 1em; }
  @media (max-width: 767px) {
    .newsletter-container.with-side-line .title::before {
      left: 0; } }

.newsletter-container .newsletter-box {
  padding: 2em 10em 4em;
  width: 100%; }
  .newsletter-container .newsletter-box input,
  .newsletter-container .newsletter-box button {
    height: 50px; }
  .newsletter-container .newsletter-box button {
    background: #DDB14E;
    border-color: #DDB14E;
    border-radius: 0; }
  @media (max-width: 767px) {
    .newsletter-container .newsletter-box {
      padding: 4em 3em; } }
  @media (max-width: 767px) {
    .newsletter-container .newsletter-box form {
      width: 100%;
      margin: auto; } }

.upcoming-events .calendar-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  .upcoming-events .calendar-row .dates {
    flex: 0 0 15%;
    max-width: 15%;
    flex: 1;
    margin-right: 10px; }
    @media (max-width: 767px) {
      .upcoming-events .calendar-row .dates {
        flex: 0 0 100%;
        max-width: 100%; } }
    .upcoming-events .calendar-row .dates .boxed {
      text-align: center;
      margin-bottom: 0;
      padding: 10px 10px;
      border-radius: 0;
      border: 2px solid #000; }
    .upcoming-events .calendar-row .dates h3 {
      font-weight: 600; }
    .upcoming-events .calendar-row .dates .number {
      font-family: "EB Garamond", serif;
      color: #0E5830;
      font-weight: 500;
      display: block;
      clear: both; }
      @media (max-width: 767px) {
        .upcoming-events .calendar-row .dates .number {
          display: inline-block; } }
  .upcoming-events .calendar-row .event-title {
    flex-grow: 1;
    flex: 1;
    padding: 25px 30px;
    background: #DDB14E; }
    .upcoming-events .calendar-row .event-title p {
      color: #000 !important;
      font-weight: 600;
      font-size: 1em; }
    @media (max-width: 767px) {
      .upcoming-events .calendar-row .event-title {
        flex: 0 0 100%;
        max-width: 100%; } }

@-webkit-keyframes anim1 {
  0% {
    top: 20px;
    right: 12px; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1;
    right: -25px;
    top: -20px; } }

@keyframes anim1 {
  0% {
    top: 20px;
    right: 12px; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1;
    right: -25px;
    top: -20px; } }

@-webkit-keyframes anim2 {
  0% {
    top: 20px;
    right: 12px; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1;
    right: -25px;
    top: -20px; } }

@keyframes anim2 {
  0% {
    top: 20px;
    right: 12px; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1;
    top: 30px;
    right: 15px; } }

@-webkit-keyframes animout {
  0% {
    height: 100vh; }
  100% {
    height: 0px; } }

@keyframes animout {
  0% {
    height: 100vh; }
  100% {
    height: 0px; } }

/*
    Flaticon icon font: Flaticon
    Creation date: 11/12/2019 05:36
    */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticons/Flaticon.eot");
  src: url("../fonts/flaticons/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons/Flaticon.woff2") format("woff2"), url("../fonts/flaticons/Flaticon.woff") format("woff"), url("../fonts/flaticons/Flaticon.ttf") format("truetype"), url("../fonts/flaticons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticons/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-add-user:before {
  content: "\f100"; }

.flaticon-gear:before {
  content: "\f101"; }

.flaticon-team:before {
  content: "\f102"; }
