#home-banner li {
  height: 100vh; }

@media (min-width: 768px) and (max-width: 991px) {
  #home-banner .header-title {
    font-size: 30px; } }

@media (max-width: 767px) {
  #home-banner .header-title {
    font-size: 25px; } }

@media (max-width: 767px) {
  #home-banner .text-top {
    font-size: 1em; } }

@media (max-width: 767px) {
  #home-banner .btn--lg {
    padding-top: 0.46428571em;
    padding-bottom: 0.46428571em;
    padding-right: 2.78571429em;
    padding-left: 2.78571429em;
    font-size: 0.9em; } }

#home-banner .pos-vertical-center {
  top: 55%; }
  @media (max-width: 767px) {
    #home-banner .pos-vertical-center {
      top: 25%; } }
  @media (max-width: 767px) {
    #home-banner .pos-vertical-center.side-image {
      top: 10%; } }
  @media (max-width: 767px) {
    #home-banner .pos-vertical-center.side-image img {
      width: 80%; } }

.banner-boxes {
  background: #014520; }
  .banner-boxes * {
    color: #fff; }
  .banner-boxes i {
    color: #DDB14E; }
    .banner-boxes i.first {
      font-size: 3.54285714em; }
  .banner-boxes a .feature-2:hover {
    background: #DDB14E; }
    .banner-boxes a .feature-2:hover * {
      color: #014520; }
  .banner-boxes .row--gapless {
    margin-right: 0; }
    .banner-boxes .row--gapless > div[class*='col-'] {
      padding: 0; }
  .banner-boxes .feature-2 {
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    align-self: center;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-left: 8em;
    padding-right: 4em;
    border-radius: 0; }
    .banner-boxes .feature-2.last {
      border-right: none; }
    .banner-boxes .feature-2 p {
      font-size: 0.8em; }
    @media (max-width: 767px) {
      .banner-boxes .feature-2 i {
        width: 30%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .banner-boxes .feature-2 {
    margin-bottom: 0; } }
    @media (max-width: 767px) {
      .banner-boxes .feature-2 {
        margin-bottom: 0; } }
    .banner-boxes .feature-2 .box-title {
      font-size: 2.5em; }

@media (min-width: 768px) and (max-width: 991px) {
  .banner-boxes .feature-2 .box-title {
    font-size: 1.9em; } }
      @media (max-width: 767px) {
        .banner-boxes .feature-2 .box-title {
          font-size: 2.6em; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-boxes .feature-2 {
    padding: 3em 0em 3em 2em; } }

@media (min-width: 768px) and (max-width: 991px) {
  .banner-boxes .feature-2 {
    padding: 3em 1em 3em 3em; } }
    @media (max-width: 767px) {
      .banner-boxes .feature-2 {
        border-right: none;
        padding: 2em 1em 2em 3em; } }
  @media (max-width: 767px) {
    .banner-boxes:first-child .feature-2 {
      border-top: 1px solid #fff; } }
  @media (max-width: 767px) {
    .banner-boxes {
      background: #014520;
      margin-top: 0 !important; } }

.meet-experts .title::before {
  left: -30%; }

@media (max-width: 767px) {
  .meet-experts .pos-absolute {
    position: relative; } }

@media (max-width: 767px) {
  .meet-experts .pos-absolute .row-ml-2 {
    margin-left: -15px; } }

.w-100 {
  width: 100%; }

.featured-blogs {
  padding-top: 7.42857143em !important; }
  .featured-blogs .feature-1 img {
    border-radius: 0; }
  .featured-blogs .feature-1 .feature__body {
    border-radius: 0; }

hr.short {
  border-color: #DDB14E;
  margin-bottom: 0; }
