@media (max-width: 767px) {
  .inner-cover {
    height: auto;
    z-index: 0;
    padding-top: 8em; } }

.our-team .feature-1 {
  border-radius: 0; }
  .our-team .feature-1 img {
    border-radius: 0; }
  .our-team .feature-1 .feature__body {
    padding: 1em;
    border-radius: 0; }

.modal-container .modal-content {
  width: 80%; }
  .modal-container .modal-content .image--rounded {
    height: 350px; }
    .modal-container .modal-content .image--rounded .background-image-holder {
      border-radius: 50%;
      border: 10px solid #DDB14E;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
