@media (max-width: 767px) {
  .cover {
    height: auto;
    z-index: 0;
    padding-top: 6em; } }

@media (max-width: 767px) {
  .cover .pos-vertical-center {
    top: 60%;
    transform: translateY(60px);
    -webkit-transform: translateY(60px); } }

.overlay-gold:before {
  position: absolute;
  content: '';
  background: #DDB14E;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.list-of-services .list .list-item {
  font-weight: 600;
  font-size: 1.2em;
  font-family: "EB Garamond", serif;
  border-top: 1px solid #c5c5c5;
  padding: 1em 0.5em;
  color: #0E5830; }
  .list-of-services .list .list-item i {
    vertical-align: middle;
    margin-right: 0.5em; }
  .list-of-services .list .list-item:last-child {
    border-bottom: 1px solid #c5c5c5; }
